<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarShowrooms.Data.Properties.Settings.connStr" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=DB1.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>